.main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: center;
    align-items: center;
  }
  
  .sub-container {
    width: 45%;
    padding: 20px;
    margin: 10px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .head {
    color: white;
    font-size: 40px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  select,
  textarea {
    margin-bottom: 16px;
    padding: 8px;
  }
  
  button {
    padding: 10px;
    background-color: #11053d;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #28074e;
  }
  .head-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  